<?xml version="1.0"?>
<config>
    <modules>
        <Soap_HomeCredit>
            <version>0.1.2</version>
        </Soap_HomeCredit>
    </modules>
    <global>
        <blocks>
            <home_credit>
                <class>Soap_HomeCredit_Block</class>
            </home_credit>
        </blocks>
        <helpers>
            <home_credit>
                <class>Soap_HomeCredit_Helper</class>
            </home_credit>
        </helpers>
        <models>
            <home_credit>
                <class>Soap_HomeCredit_Model</class>
            </home_credit>
        </models>
        <resources>
            <home_credit_setup>
                <setup>
                    <module>Soap_HomeCredit</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </home_credit_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <home_credit>
                <use>standard</use>
                <args>
                    <module>Soap_HomeCredit</module>
                    <frontName>credit</frontName>
                </args>
            </home_credit>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <soap_homecredit_adminhtml_widget_container_html_before>
                        <class>home_credit/observer</class>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </soap_homecredit_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <home_credit after="Mage_Adminhtml">Soap_HomeCredit_Adminhtml</home_credit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <home_credit>
                <active>1</active>
                <title>Home Credit</title>
                <home_credit_action>https://sb.homecredit.kz/Form/eshop.php?wsdl</home_credit_action>
                <model>home_credit/credit</model>
            </home_credit>
        </payment>
    </default>
</config>